@import 'tailwindcss';

/* Base transitions for all elements */

.primary-card {
  @apply bg-[#15243B] rounded-3xl shadow-lg;
}
.secondary-card {
  @apply bg-[#353C52] rounded-3xl shadow-lg;
}
.tertiary-card {
  @apply bg-[#283249] rounded-3xl shadow-lg;
}
.card-title {
  @apply flex items-center gap-3 mb-6;
}

.neg-card {
  @apply text-[#F4A6A7] bg-[#7C5556];
}
.pos-card {
  @apply bg-[#14532D] text-[#4ADE80];
}
.neutral-card {
  @apply bg-[#353C52] text-[#FFFFFF];
}

.card-title h1 {
  @apply text-2xl md:text-3xl font-bold cursor-pointer;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 9999px; /* rounded-full */
  background-color: #f3f4f6;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: #d1d5db;
}

@media (prefers-color-scheme: dark) {
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #3f3f46;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #737373;
  }
}

.primary-card h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply cursor-default;
}
